:root {
  --background: #FFEFEE; /* 2chっぽい色 */
  --text: #000;
  --pathColor: invert(0%);
  --border: 1px solid #888;
}

:root.dark {
  --background: #222;
  --text: #ccc;
  --pathColor: invert(100%);
  --border: 1px solid #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  /* ２ちゃんねる風フォント */
  font-family: 'MS PGothic', 'IPAMonaPGothic', 'Mona', sans-serif;
  background: var(--background);
  line-height: 1;
  color: var(--text);
}

/* クラシックなリンク色 */
a {
  color: #0000EE;
  :root.dark & {
    color: #87CEFA; /* LightSkyBlue */
  }
}
a:visited {
  color: #551A8B;
  :root.dark & {
    color: #59D4A0; /* MintGreen */
  }
}


header {
  position: sticky;
  top: 0;
  padding: 20px 0;
  background-color: var(--background);
  z-index: 100;
}

footer {
  padding: 14px;
  >p{
    padding: 6px 0;
    >a{
      padding: 0 12px;
    }
  }
}

p {
  line-height: 1.4;
  white-space: pre-wrap;
  word-break: break-all;
}

article {
  img {
    width: 100%;
    max-width: 600px;
    display: block;
    &.path {
      width: initial;
      display: initial;
    }
  }

  h3 {
    font-size: 1.1rem;
  }

  a {
    display: inline-block;
    padding: 2px;
  }
}

label {
  display: block;
  margin-bottom: 12px;
}

input {
  width: 100%;
  max-width: 600px;
  margin-top: 4px;
  font-size: 1rem;
  padding: 8px;
  outline: none;
  border: 1px solid #888; /* 枠線を追加 */
  &[type="checkbox"] {
    width: initial;
    display: block;
    margin-top: 0;
    margin-bottom: 12px;
  }
}

textarea {
  width: 100%;
  max-width: 600px;
  margin-top: 4px;
  font-size: 1rem;
  padding: 8px;
  height: 6rem;
  outline: none;
  border: 1px solid #888; /* 枠線を追加 */
}

select {
  border: 1px solid #888;
  background-color: #ddd;
  outline: 0;
  font-size: 1rem;
  padding: 8px;
  cursor: pointer;
  border-radius: 0;
  appearance: auto;
}

button {
  border: 1px solid #888; /* 枠線を調整 */
  background-color: #ddd;
  outline: 0;
  font-size: 1rem;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0; /* 角をなくす */
  gap: 4px;

  &.small {
    border: var(--border);
    background: none;
    font-size: 0.8rem;
    padding: 4px 8px;
    color: var(--text);
  }
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  > * {
    flex-shrink: 0;
  }
}

.flex-between {
  justify-content: space-between;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.path {
  filter: var(--pathColor);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 0; /* 角をなくす */
  z-index: 1001;
  max-height: 80vh;
  max-width: 600px;
  width: calc(100vw - 20px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #888; /* 枠線を追加 */
  :root.dark & {
    background: var(--background);
    border: var(--border)
  }
}

.header,
.footer {
  flex-shrink: 0;
}

.content {
  overflow-y: auto;
  flex-grow: 1;
  padding: 10px 0;
}
